/* Layout Principal */
.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  font-family: system-ui, sans-serif;
}

.map-area {
  flex: 1;
  position: relative;
  min-width: 0;
}

.leaflet-map {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 320px;
  background: #f8f9fa;
  border-left: 1px solid #333;
  padding: 20px;
  overflow-y: auto;
  z-index: 1001;
}

.floating-form {
  position: absolute;
  z-index: 2000;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  min-width: 260px;
  pointer-events: auto;
  margin-top: -30px;
}

.leaflet-popup {
  position: absolute !important;
  transition: none !important;
  pointer-events: none;
}

.leaflet-popup-content-wrapper {
  pointer-events: auto;
}

/* Garante que o container do mapa seja o ponto de referência (pai)

ps: preciso dar uma olhada melhor nisso posteriormente
*/
.map-area,
.leaflet-map {
  position: relative !important;
}
.leaflet-zoom-animated {
  will-change: transform;
}

/* Sidebar e botões */
.search-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.search-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  gap: 8px;
}

.btn-search {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-home {
  background: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}
.btn-save {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  flex: 1;
  cursor: pointer;
}
.btn-cancel {
  background: #6c757d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  flex: 1;
  cursor: pointer;
}

.marker-list {
  list-style: none;
  padding: 0;
}
.marker-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  color: black;
}
.marker-info {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.btn-edit {
  background: #ffc107;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.divider {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
